
<div class="container">
    <!-- row 1 -->
    <header class="row">
      <div class="span6">
          <h1><%= link_to "Acme Real Estate", "index" %></h1>
        </div>
      <div class="span6">
          <h4><%= link_to "For Sale", "sale" %>   For Rent   New Developments </h4>
        </div>
    </header>

    <!-- row 2 -->
    <div class="row">
        <div id="carousel">
          <ul>
            <li><img src="/assets/s1.png" width="1500"></li>
            <li><img src="/assets/s2.png" width="1500"></li>
            <li><img src="/assets/s3.png" width="1500"></li>
          </ul>
        </div>
    </div>

    <!-- row 3 -->
    <div class="row">
      <div class="span3">
            <h4>Acme Real Estate</h4>
            <p>We predominantly focuses on Manhattan Coops and Condos as well as Manhattan rentals. However, New York City real estate outside of Manhattan is a significant component of our operation. Our five locations: Upper East Side, Upper West Side, Midtown East, Midtown West, and Village.</p>
            <p><a href="#">Read more >></a></p>
        </div>
        <div class="span3">
            <h4>Real Estate is a specialized field</h4>
            <p>Thus, the company prepares its sales staff by insuring that all sales associates are extensively trained in serving customers for condominiums, cooperative apartments and rentals. Accordingly, salespeople engage in an extensive training program covering all aspects of the transaction process relating to cooperative apartments and condos. This includes being fully acquainted with the standard form contract, the approval application process for cooperative apartments and the right of first refusal requirement in most condominium apartments. </p>
            <p><a href="#">Read more >></a></p>
        </div>
        <div class="span3">
            <h4>Select Portfolio</h4>
            <p>This is a patented procedure to assist buyers in effectively identifying coop apartments and/or condominium apartments in Manhattan. The procedure permits the evaluation of the entire population or a portion of that population of residential apartments available for sale in order to create a means of comparability between a group average and a selected property. Selection Portfolio is an efficient and effective means to help buyers in making informed decisions on which property in the best alternative in light of their specific buying formula.</p>
            <p><a href="#">Read more >></a></p>
        </div>
        <div class="span3">
            <h4>Serving our customers</h4>
            <p>We are committed to insuring that any cooperative apartment, condo apartment or any rental apartment are available to be seen by any party making an inquiry regardless of any protected class to which they may belong without exception or limitation. Buyers interested in purchasing a cooperative apartment are normally subject to review of their qualifications by a cooperative board who has the discretion to approve or reject applications in accordance with reasonable business judgment.</p>
             <p><a href="#">Read more >></a></p>
         </div>
    </div>

    <!-- row 4 -->
    <footer class="row">
         <p>This not a real estate site, and is not meant to sell or rent property. Acme Real Estate is a fictious site for illustrative purposes.</p>
    </footer>



</div> <!-- end container -->