@import "bootstrap";

/* home page carousel */
#carousel {
  width: 800px;
  overflow: hidden;
}

#carousel ul {
  width: 5000px;
}

#carousel ul li {
  width: 800px;
  float: left;
  list-style: none;
}



/* show page carousel */
//

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
  background-color: #444;
}


/* google maps */

html {
  height: 100%; margin: 0;
}

body {
  height: 100%; margin: 0; padding: 0
}


#map{
  height: 100%;
  margin: 0;
}

/* essentials table */
#vertical th {
  text-align: left;
  padding-right: 30px;
}