@import "bootstrap";

/* home page carousel */
#carousel {
  width: 800px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

#carousel ul {
  width: 5000px;
}

#carousel ul li {
  width: 800px;
  float: left;
  list-style: none;
}

.carousel-inner {
  width: 600px;
}

.row {
  text-align: center;
}

/* google maps */

html {
  height: 100%; margin: 0;
}

body {
  height: 100%; margin: 0; padding: 0
}


#map{
  height: 100%;
  margin: 0;
}

/* essentials table */
#vertical th {
  text-align: left;
  padding-right: 30px;
}

/* sale page search */
.right-alignment {
  margin-left: 700px;
  color: red;
}

form {
  margin-bottom: 50px;
}
