@import "bootstrap";

/* home page carousel */
#carousel {
  width: 800px;
  overflow: hidden;
}

#carousel ul {
  width: 5000px;
}

#carousel ul li {
  width: 800px;
  float: left;
  list-style: none;
}



/* show page carousel */
.image-shown img {
  width: 600px;
  float: left;
}

.image-hidden{
  display:none;
}

.carousel-inner {
  width: 800px;
  overflow: hidden;
}

.carousel-inner ul {
  width: 5000px;
  }

.carousel-inner li {
  width: 800px;
  float: left;
  list-style: none;
}

.previouslink {
  margin-right: 500px;
}

.carousel-outer {
  width: 1500px;
}

.span8 {

}



/* google maps */

html {
  height: 100%; margin: 0;
}

body {
  height: 100%; margin: 0; padding: 0
}


#map{
  height: 100%;
  margin: 0;
}

/* essentials table */
#vertical th {
  text-align: left;
  padding-right: 30px;
}