
<div class="container">
    <!-- row 1 -->
    <header class="row">
      <div class="span6">
          <h1><%= link_to "Corcoran Real Estate", "index" %></h1>
        </div>
      <div class="span6">
          <h4><%= link_to "For Sale", "list" %>   For Rent   New Developments </h4>
        </div>
    </header>

    <!-- row 2 -->
    <div class="row">
        <div id="carousel">
          <ul>
            <li><img src="/assets/s1.png" width="1500"></li>
            <li><img src="/assets/s2.png" width="1500"></li>
            <li><img src="/assets/s3.png" width="1500"></li>
          </ul>
        </div>
    </div>

    <!-- row 3 -->
    <div class="row">
      <div class="span3">
            <p><img src="img/gsd.jpg" alt=""></p>
            <h4>Thanks for helping our German Shepherd</h4>
            <p>During the summer, my German Shorthair Pointer, Tonto, began to have severe redness and itching on his belly and feet. Through diagnostic testing, we learned that Tonto is severely allergic to over a dozen kinds of grass pollens.</p>
            <p><a href="#">Read more >></a></p>
        </div>
        <div class="span3">
            <p><img src="img/kitten.jpg" alt=""></p>
            <h4>Our diabetic kitty is better</h4>
            <p>When Samantha, our sweet kitten, began sleeping all the time and urinating excessively, we brought her to see the specialists at Wisdom. After running a blood test, Dr. Winthrop confirmed what we all feared – Samantha was showing signs of diabetes. </p>
            <p><a href="#">Read more >></a></p>
        </div>
        <div class="span3">
            <p><img src="img/bulldog.jpg" alt=""></p>
            <h4>Our grape-loving dog</h4>
            <p>The staff at Wisdom worked tirelessly to determine why our three-year old bulldog, Roxie, started going into sudden kidney failure. They stabilized her and provided fluids until her kidneys were again functioning normal, but it was still a mystery as to what caused her health to decline so quickly. </p>
            <p><a href="#">Read more >></a></p>
        </div>
        <div class="span3">
            <p><img src="img/goldfish.jpg" alt=""></p>
            <h4>A dog antibiotic cured our fish</h4>
            <p>Wisdom Pet Medicine is the only clinic around that will even book pet fish for appointments. When our 13-year old goldfish, McAllister, turned from silvery white to an angry red, we called around, urgently trying to find a veterinarian who could help. Wisdom not only got us in the same day, but also was able to diagnose McAllister as having a severe case of septicemia. </p>
             <p><a href="#">Read more >></a></p>
         </div>
    </div>

    <!-- row 4 -->
    <footer class="row">
         <p>This not a real veterinary medicine site, and is not meant to diagnose or offer treatment. Please see your veterinarian for all matters related to your pet's health.</p>
         <p>Wisdom Pet Medicine is a training brand owned by lynda.com.</p>
    </footer>

</div> <!-- end container -->